.header-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-contacts > h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header-contacts > h2 {
    margin-top: 10px;
    font-size: 42px; 
    color: #ff6347; 
    text-align: center;
    letter-spacing: 1px; 
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.email-p {
    font-size: 38px;
    color: #fdfdfd;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.email-p:hover {
    color: #27f4f4;
}

.contacts-tg-wsapp {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 40px;
}

.tg, .whatsapp {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding-bottom: 30px;
}

.tg>span, .whatsapp>span {
    margin-bottom: 0; 
    font-size: 25px;
}

.contact-method {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 23px;
    background-color: #193c94;
    border-radius: 20px;
    padding: 8px;
}

.contact-method:hover {
    background-color: #354d88;
}

@media (max-width: 768px) {
    .email-form {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .tgImg {
        height: 30px;
    }

    .whatsappImg {
        height: 30px;
    }
}

@media (max-width: 420px) {
    .contacts-tg-wsapp {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
        gap: 0px;
    }

    .tgImg {
        height: 30px;
    }

    .whatsappImg {
        height: 30px;
    }
}