
.header-projects {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    justify-content: center;
    margin-top: 130px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.container-projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 40px;
    row-gap: 20px;
}

.project-image {
    background-color: #ccc; 
    border-radius: 20px;
    width: 320px;
    height: 160px;
}

.project-name {
    font-size: 30px;
    width: 320px;
    margin: 0;
}

.project-desc {
    font-size: 19px;
    width: 320px;
    margin-top: 5px;
}

@media (max-width: 1200px) {
    .wrapper {
        width: 80%;
        margin-right: 520px;
    }

    .container-projects {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-left: 250px;
    }

    .project {
        width: 25%;
    }

    .project-image {
        width: 90%;
    }

    .project-name {
        font-size: 22px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: 60%;     
    }

    .container-projects {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: 300px;
    }

    .project-image {
        width: 140%;
    }
}

@media (max-width: 896px) {
    .wrapper {
        width: 40%;
        margin-left: 130px;
    }

    .container-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 230%;
        gap: 10px;        
    }

    .project {
        margin-left: 20px;
    }

    .project-image {
        width: 300%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 20%;
    }

    .container-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; 
        margin-right: 200px;       
    }

    .project {
        width: 35%;
        margin-left: 20px;
    }
}

@media (max-width: 620px) {
    .container-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; 
        margin-right: 320px;       
    }

    .project {
        width: 40%;
    }
}

@media (max-width: 480px) {
   .container-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; 
        margin-right: 370px;       
    }
}

@media (max-width: 420px) {
    .wrapper {
        width: 25%;
    }

    .container-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; 
        margin-right: 500px;       
    }

    .project-image {
        width: 330%;
    }
}