
.header-projects {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    justify-content: center;
    margin-top: 130px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.container-projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 40px;
    row-gap: 20px;
}

.project-image {
    background-color: #ccc; 
    border-radius: 20px;
    width: 320px;
    height: 160px;
}

.project-name {
    font-size: 30px;
    width: 320px;
    margin: 0;
}

.project-desc {
    font-size: 19px;
    width: 320px;
    margin-top: 5px;
}
