@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

main {
    margin-top: 100px;
    width: 100%;
    flex-grow: 1;
}

.main-home {
    display: flex;
}

header {
    margin-top: 140px;
    margin-left: 99px;
    width: 410px;
    height: 305px;
}

.info-name {
    font-weight: lighter;
    font-size: 45px;
    margin-bottom: 0;
}

.info-desription {
    font-size: 32px;
    font-weight: 500;
    margin-top: 10px;
    padding-bottom: 50px;
    line-height: 1.2;
}

.custom-font {
    font-family: 'Poppins', sans-serif;
}

.button-container {
    display: flex;
    flex-direction: row; 
    gap: 20px; 
}

.btn-Download {
    outline: none;
    border: none;
    background-color: #53afe8;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.btn-About {
    outline: none;
    border: none;
    background-color: #98C1CF; 
    color: white;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer; 
}

.btn-Download:hover {
    background-color: #11ade1; 
    transform: scale(1.05); 
}

.btn-About:hover {
    background-color: #71B3B8; 
    transform: scale(1.05); 
}

.backgroundDiv {
    background-color: #98C1CF;
    width: 810px;
    height: 665px;
    margin-left: 200px;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 20% 0);
    position: relative; 
}

.box {
    width: 360px;
    height: 360px;
    background-color: white;
    position: absolute; 
    top: 63%; 
    left: 55%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

.image {
    width: 100%;
    height: auto; 
    transition: transform 0.3s ease;
    position: absolute;
}

.container-name {
    background-color: #b0b4b5;
    opacity: 0.85;
    position: absolute; 
    bottom: 45px;
    width: 170px;
    height: 35px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: transform 0.3s ease; 
}

.my-name {
    font-size: 20px;
    color: #030303;
}

.box:hover .image {
    transform: translate(-30px, -30px);
}

.box:hover .container-name {
    transform: translate(-30px, -30px); 
}


@media(max-width: 1200px) {
    .main-home {

    }

    header {
        
    }

    .info {
        
    }

    .info-name {
        font-size: 40px; 
    }

    .info-desription {
        font-size: 30px; 
    }

    .button-container {
        width: 80%;
    }

    .btn-Download{
        font-size: 18px;
    }

    .btn-About {
        font-size: 18px;
    }

    .backgroundDiv {

    }

    .box {
        position: absolute;
        left: 800px;
        top: 400px;
        height: auto;
        margin-top: 30px;
        width: 26.5%;
    }

    .image {    
        width: 320px;
        height: 100%;
    }

    .container-name {
        position: relative;
        margin-top: 270px;
    }

    .my-name {

    }

}




@media(max-width: 1024px) {
    .main-home {
        height: 90vh;
    }

    header {
        
    }

    .info {
        
    }

    .info-name {
        font-size: 40px; 
    }

    .info-desription {
        font-size: 30px; 
    }

    .button-container {
        width: 80%;
    }

    .btn-Download{
        font-size: 18px;
    }

    .btn-About {
        font-size: 18px;
    }

    .backgroundDiv {
        display: none;
    }

    .box {
        position: absolute;
        left: 680px;
        top: 400px;
        height: 250px;
        margin-top: 30px;
    }

    .image {    
        width: 100%;
        height: 100%;
    }

    .container-name {
        position: relative;
        margin-top: 220px;
    }

    .my-name {
        font-size: 18px;
    }

}



@media(max-width: 768px) {
   .main-home {
        height: 120vh;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 300px;
        margin-right: 150px;
        margin-left: 150px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info-name {
        font-size: 40px; 
    }

    .info-desription {
        font-size: 30px; 
    }

    .button-container {
        width: 80%;
    }

    .btn-Download{
        font-size: 18px;
    }

    .btn-About {
        font-size: 18px;
    }

    .backgroundDiv {
        display: none;
    }

    .box {
        position: absolute;
        left: 370px;
        top: 240px;
        height: 260px;
        margin-top: 30px;
    }

    .image {    
        width: 120%;
        height: 100%;
    }

    .container-name {
        position: relative;
        margin-top: 220px;
    }

    .my-name {
        font-size: 18px;
    }


    .box:hover .image {
        transform: none;
    }

    .box:hover .container-name {
        transform: none;
    }  
}




@media(max-width: 620px) {
    .main-home {
        height: 110vh;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 300px;
        margin-left: 90px;
    }

    .info {
        
    }

    .info-name {
        font-size: 32px; 
    }

    .info-desription {
        font-size: 25px; 
    }

    .button-container {
        width: 75%;
    }

    .btn-Download{
        font-size: 17px;
    }

    .btn-About {
        font-size: 17px;
    }

    .backgroundDiv {
        display: none;
    }

    .box {
        
        position: absolute;
        left: 250px;
        top: 240px;
        height: 260px;
        margin-top: 30px;
    }

    .image {    
        width: 145%;
        height: 100%;
    }

    .container-name {
        position: relative;
        margin-top: 220px;
    }

    .my-name {
        font-size: 18px;
    }


    .box:hover .image {
        transform: none;
    }

    .box:hover .container-name {
        transform: none;
    } 
}


@media(max-width: 480px) {
    .main-home {
        height: 100vh;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 300px;
        margin-left: 45px;
    }

    .info {
        width: 80%;
    }

    .info-name {
        font-size: 27px; 
    }

    .info-desription {
        font-size: 20px; 
    }

    .button-container {
        width: 60%;
    }

    .btn-Download{
        font-size: 15px;
    }

    .btn-About {
        font-size: 15px;
    }

    .backgroundDiv {
        display: none;
    }

    .box {
        
        position: absolute;
        left: 180px;
        top: 240px;
        height: 260px;
        margin-top: 30px;
    }

    .image {    
        width: 195%;
        height: 100%;
    }

    .container-name {
        position: relative;
        margin-top: 220px;
    }

    .my-name {
        font-size: 18px;
    }

    .box:hover .image {
        transform: none;
    }

    .box:hover .container-name {
        transform: none;
    } 
}




@media(max-width: 420px) {
    .main-home {
        height: 100vh;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 300px;
        margin-left: 0px;
    }

    .info {
        width: 70%;
    }

    .info-name {
        font-size: 27px; 
    }

    .info-desription {
        font-size: 20px; 
    }

    .button-container {
        width: 60%;
    }

    .btn-Download{
        font-size: 15px;
    }

    .btn-About {
        font-size: 15px;
    }

    .backgroundDiv {
        display: none;
    }

    .box {
        
        position: absolute;
        left: 150px;
        top: 240px;
        height: 210px;
        margin-top: 30px;
    }

    .image {    
        width: 195%;
        height: 100%;
    }

    .container-name {
        position: relative;
        margin-top: 200px;
    }

    .my-name {
        font-size: 17px;
    }

    .box:hover .image {
        transform: none;
    }

    .box:hover .container-name {
        transform: none;
    } 
}