nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    gap: 652px;
    background-color: #0E466F;
    width: 98.95%;
    height: 107px;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
    gap: 20px;
    width: 160px;
    height: 50px;
}

.logoMy {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    line-height: 3px;
}

.logo-MAKSKHVYTS {
    font-size: 20px;
    margin-bottom: 5px;
}

.logo-portfolio {
    font-size: 14px;
    padding-bottom: 19px;
}

a {
    text-decoration: none; 
    color: white;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    gap: 52px;
    list-style: none;
}

ul a {
    position: relative; 
    text-decoration: none; 
    color: white; 
}

ul a::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -6px; 
    width: 100%; 
    height: 3px; 
    border-radius: 10px;
    background-color: #98C1CF;
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

ul a:hover::after,
ul a.active::after {
    transform: scaleX(1);
}

/* Menu Styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 100px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}

@media (max-width: 1200px) {
    nav {
        gap: 28%;
        width: 98.55%;
    }
}

@media (max-width: 1024px) {
    .logo {
        margin-left: 40px;
    }

    nav {
        gap: 26%; 
        width: 98.4%;
    }

    ul {
        font-size: 22px;
    }
}

@media (max-width: 896px) {
    nav {
        gap: 14%; 
        width: 98.4%;
    }

    ul {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    nav {
        justify-content: space-between; 
        width: 97.5%;
    }

    ul {
        display: none;
        position: absolute; 
        top: 80px; 
        left: 0;
        width: 100%;
        background-color: #0E466F;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        height: auto;
        transition: transform 0.3s ease;
        z-index: 999; 
    }

    ul.open {
        display: flex;
    }

    .menu-toggle {
        margin-right: 40px;
        display: flex;
    }

    ul li {
        text-align: center;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    nav {
        gap: 20px;
        width: 96.7%;
    }

    .menu-toggle {
        margin-right: 40px;
    }

    ul {
        font-size: 18px;
        gap: 18px;
    }
}

@media (max-width: 420px) {
    nav {
        gap: 10px;
        width: 95.1%;
    }

    nav ul {
        font-size: 16px;
        gap: 16px;
        width: 100%;
    }

    .logo {
        margin-left: 20px;
    }

    .menu-toggle {
        margin-right: 20px;
    }
}